body {background-color: #63c446;}
p {color: #7b2ab1}
h1 {color: #7b2ab1; text-align: center;}
#colegio {color: #7b2ab1;}
#hobbys {background-color: #726E60;}
footer {background-color: #442B48; font-size: 30px;}